body {
  /* background-color: #115fc3; */
}

 td {
   /* background-color: #efefef; */
 }

/* a {
  font-size:30px;
  color: #9e9e9e;
} */

.btn {
  background-color: #fd6440;
}

.search-btn {
  background-color: red;
}

#aside {
  height:810px;
}

img {
  width: 80%;
}

 #aside a {
  color:grey;
}

.logo h6 {
  display:none;
  margin-top: -50px
  background-color:green;
}
