
  .btn {
    background-color: #fd6440;
    color: white;
  }

  #aside {
    height:810px;
  }

  #create-aside {
    height:810px;
    width:200px;
  }

  img {
    width: 80%;
  }

  .background img {
    width: 100%;
  }

  #aside a {
    color:grey;
  }

  #aside h5 {
    color:grey;
    margin-top: -50px;
  }

  #aside h6 {
    color:grey;
  }

  .row-seperator {
    background-color: #324047;
    height: 50px;
  }

  .menu-bar {
    background-color: #fd6440;
    height: 50px;
  }

  .aside-menu {
    margin-top: 40px;
  }

  .search-form {
    margin-left: 50px;
  }

  .col-2 {
    background: #324047;
  }

  .fad {
    color: white;
    width: 100px;
  }

  .form-container{
    background-color: white;
    border-radius:4px;
    padding: 40px;
  }

  .container h1, h3{
    color:white;
  }

  .selected {
    color:#fd6440;
    font-weight: bold;
  }

  .pagination a{
    text-align: center;
    padding-right: 12px;
  }

  .page-count {
    margin-left:20px;
  }

  .navbar {
    background-color: #fd6440;
  }

  .navbar-light .navbar-brand {
    color: white;
  }

 .navbar-light .navbar-nav .active .nav-link, {
    color: white;
  }

   .navbar-light .navbar-nav .nav-link {
    color: white;
  }

  @media only screen and (min-width: 1366px) {
    .navbar{
      display: none;
  }
 }

  @media only screen and (max-width: 1366px) {

  #aside{
    display:none;
  }

  #create-aside{
    display:none;
  }

   .menu-bar {
    display:none;
  }

  .row seperator {
    max-width:100%;
    margin-left:0;
  }

  .navbar {
    max-width: 100%;
  }

  .table {
    margin-left:0;
  }
 }
